/* Print styles: print.css */

body {
	font-size: smaller;
	font-family: 'Times New Roman', Times, serif;
	/*Let the user set page margins.*/
	margin: 0;
	width: auto;
	height: auto;
	/*CSS PAGED MEDIA FTW*/
	widows: 3;
	orphans: 3;
}

#page {
	grid-template-areas: "main"
						 "help"
						 "footer";
	grid-template-columns: auto;
	grid-template-rows: auto;
	row-gap: 1rem;
	margin: 0;
	width: auto;
	height: auto;
}
#page > * {
	margin: 0;
}
header {
	display: none;
}
aside {
	display: inline !important;
}
footer {
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    display: grid;
    place-content: left;
	margin: 0;
	column-gap: 0.5em;
	font-size: 70%;
}